.tingfeng-btn {
  appearance: none;
  border: none;
  outline: none;
  background: #fff;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  // 不换行
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 5px 8px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.default {
  border-color: #e4e4e4;
  color: white;
  background-color: var(--color-default);

  &:hover {
    background-color: var(--color-default-1);
  }
}

.primary {
  border-color: skyblue;
  background: var(--color-primary);
  color: #fff;

  &:hover {
    background-color: var(--color-primary-1);
  }
}

.plain {
  border-color: var(--color-plain);
  color: var(--color-plain);
  background: transparent;

  &:hover {
    background-color: var(--color-plain-1);
    color: white;
  }
}

.gray {
  border-color: var(--color-gray);
  background: var(--color-gray);
  color: #fff;

  &:hover {
    background-color: var(--color-gray-1);
  }
}

.large {
  height: 36px;
  font-size: 16px;
}

.middle {
  height: 32px;
  font-size: 14px;
  padding: 4px 6px;
}

.small {
  height: 28px;
  font-size: 12px;
  padding: 2px 6px;
}

.mini {
  height: 25px;
  font-size: 10px;
  padding: 0px 6px;
}

.disabled {
  cursor: not-allowed;
}

.default-disabled {
  background-color: var(--color-default-disabled);
  color: #fff;

  &:hover {
    background-color: var(--color-default-disabled);
  }
}

.primary-disabled {
  background-color: var(--color-primary-disabled);
  color: #fff;

  &:hover {
    background-color: var(--color-primary-disabled);
  }
}

.plain-disabled {
  color: gray;

  &:hover {
    background-color: transparent;
    color: gray;
  }
}

.gray-disabled {
  background-color: var(--color-gray-disabled);
  color: #fff;

  &:hover {
    background-color: var(--color-gray-disabled);
  }
}


.circle {
  border-radius: 50%;
  font-size: 14px;
}

.circle-middle {
  height: 32px;
  width: 32px;
}

.circle-large {
  width: 36px;
}

.circle-small {
  height: 28px;
  width: 28px;
}

.circle-mini {
  height: 25px;
  width: 25px;
}


.round {
  border-radius: 5px;
}

.square {
  border-radius: 0;
}