// 定义全局颜色 

:root {
    --color-default: #d7a912;
    --color-default-1: #c09712;

    --color-primary: #1890ff;
    --color-primary-1: #126fc6;

    --color-plain: skyblue;
    --color-plain-1: rgb(44, 181, 235);

    --color-gray: #a1a1a1ed;
    --color-gray-1: #838383;
}